@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    position: relative;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: lightskyblue;
    color: white;
}

.logo-wrap {
    position: absolute;
    top: 0;
    left: 0;
    height: 80px;
    margin-left: 20px;
}

.logo-wrap>img {
    height: 100%;
}

h1 {
    font-weight: 500;
}

.mood-slider-container {
    padding: 20px;
}

.slider-wrapper span {
    width: 100px;
    text-align: center;
    display: inline-block;
}

.slider {
    -webkit-appearance: none;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    width: calc(97% - 200px);
    margin: 20px 0;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.recommendations-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.recommendation {
    flex: 1;
    flex-grow: 0;
    min-width: 200px;
    background: #ccc;
    margin: 10px;
    text-align: center;
}

.recommendation>.img-container {
    background: #ddd;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-container img {
    height: 100%;
}

.recommendation>p {
    background: #eee;
    padding: 10px;
}

input[type="file"] {
    display: block;
    margin: 15px auto;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    background-color:
}
